body {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.levelsWrapper {
    float: left;
    width: 100%;
}
.levels {
    box-sizing: border-box;

    padding-top: 20px;
    padding-left: 20px;

    margin-right: 400px;
    height: 100%;
    overflow: scroll;
}
.addLevel {

}

.sidebar {
    float: left;
    width: 400px;
    margin-left: -400px;
    height: 100%;
}

/* level */
.level {
    background-color: rgba(128, 128, 128, 0.1);
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
}
.deleteLevel {
    width: 25px;
    float: right;
}
.addDefinition {
    float: left;
}

/* definition */
.definition {
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(128, 128, 128, 0.2);
}

.defTrans-enter {
    animation: slidein 0.8s;
    animation-timing-function: cubic-bezier;
    overflow: hidden;
}
@keyframes slidein {
    0% { max-height: 0; }
    100% { max-height: 1000px; }
}

.defTrans-leave {
    animation: slideout 0.2s;
    animation-timing-function: cubic-bezier;
    overflow: hidden;
}
@keyframes slideout {
    0% { max-height: 1000px; }
    100% { max-height: 0; }
}

.term {
    font-family: Georgia, serif;
    font-size: 13px;

    width: 352px;
}
.delete {
    width: 20px;
    float: right;
}
.meaning {
    position: relative;
    width: 400px;
    height: 150px;
}
.meaning > .bg, .meaning > .edit {
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 100%;

    font-family: Georgia, serif;
    font-size: 13px;
    line-height: 1.3em;

    padding: 2px;
    margin: 0;
    border: 1px solid #aaa;
}
.meaning > .bg {
    color: rgba(0,0,0,0);
    white-space: pre-wrap;
    overflow-wrap: break-word;

    pointer-events: none;

    user-select: none;

    overflow: hidden;
}
.meaning > .edit {

}

/* expansion */
.expansion {
    position: absolute;

    background-color: whitesmoke;

    font-family: Georgia, serif;
    font-size: 15px;
    line-height: 1.4em;

    width: 360px;
    top: 0;
    right: 0;

    padding: 20px;
}
.expanded-meaning {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.expandable-word {
    background-color: rgba(0,0,255,0.05);
    transition: all .25s;
}
.expanded-word {
    background-color: rgba(0,0,255,0.15);
    transition: all .25s;
}
.expansion .close {
    position: absolute;
    top: 2em;
    right: 2em;
}

/* definition overlay */
.defined {
    background-color: rgba(0,0,255,0.25);
    pointer-events: auto;
    cursor: help;
}
.uncommon {
    background-color: rgba(255,0,0,0.5);
}

/* graph */
.graph {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(128,128,128,0.1);

    cursor: pointer;
}
.controls {
    position: absolute;
    bottom: 0;
    right: 0;
}
.graph.fullscreen {
    left: 0;
    top: 0;
    margin: 0 auto;
    background-color: rgba(128,128,128,0.9);
}
.graph svg {
    padding: 10px;
    pointer-events: none;

    transition: all 0.25s;
}
.graph.fullscreen svg {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.nodeRect {
    fill: white;
    stroke: #8888a5;
    pointer-events: auto;
    cursor: help;
}
.nodeRect:hover {
    fill: whitesmoke;
}
.nodeLabel {
    font-family: sans-serif;
    font-size: 12px;
    alignment-baseline: middle;
}
.dep {
    stroke: #3465a4;
    fill: rgba(0, 0, 0, 0);
    marker-end: url(#markerArrow);
}
.arrow {
    fill: #204a87;
}
